* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(152, 151, 151);
}

.pie {
    width: 200px;
    height: 200px;
    background-image: conic-gradient(#69ebeb 90%, red 90%);
    border-radius: 50%;
  }

  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }

.total-storage-container {
    /* border: 2px solid gray; */
    width: 30rem;
    padding: 3rem;
    /* background-color: rgb(173, 173, 173); */
}

.total-storage-label-container {
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid green; */
    font-weight: bold;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2em;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    padding: 4px;
    font-weight: bold;
  }

  .previous:hover {
    background-color: #ddd;
    color: black;
  }

.data-used-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    /* border: 1px solid blue; */
}

.data-details-container {
    margin: auto 0;
    align-items: left;
    /* border: 1px solid pink; */
}

.total-data-p,
.data-used-p {
    font-weight: bold;
}

.total-data-p {
    color:#69ebeb;
}

.total-storage-p {
    margin-bottom: .5em;
}

.data-used-p {
    margin-top: .5em;
    color: red;
}

.view-details-btn {
    border: none;
    height: 2em;
    padding: 5px;
    border-radius: 5px;
    background-color:#f1f1f1;
    font-size: 1em;
    cursor: pointer;
    margin-top: .5em;
}

.view-details-btn:hover {
    background-color: #ddd;
    color: black;
}

.plan-container {
    padding: 2rem;
    margin: auto;
}

.plan-container hr {
    width: 1rem;
    margin-bottom: .5rem;
    margin-top: -.5rem;
    border-radius: 15px;
    height: 4px;
}

.thirty,
.hundred,
.terrabyte {
    width: 20rem;
    height: 7rem;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.thirty,
.hundred,
.terrabyte {
    box-shadow: 2px 4px 8px 0 rgba(52, 52, 52, 0.1), 0 6px 20px 0 rgba(254, 254, 254, 0.2);
}

.thirty {
    background-color:rgb(32, 32, 32);
    color: white;
}

.thirty-ornament,
.hundred-ornament,
.terrabyte-ornament {
    width: 1rem;
    margin-bottom: .5rem;
    margin-top: -.5rem;
    border-radius: 15px;
    height: 4px;
    border: none;
}

.hundred {
    background-color: rgb(246, 255, 119);
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-content: center;
    align-self: center;
}

.plan-right {
    margin-left: auto;
    margin-top: -2rem;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    gap: .5em;
}

.hundred-ornament {
    /* background-color: rgb(21, 162, 162); */
    background-color: pink;
    /* width: 1rem;
    border-radius: 15px; */
    margin-left: 1px;
    border: none;
}

.terrabyte {
    background-color: rgb(190, 130, 249);
    display: flex;
    justify-content: center;
}

.terrabyte-ornament {
    background-color: red;
    border: none;
}

.price-btn {
    border: none;
    background-color: rgb(255, 255, 255);
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid black;
    /* box-shadow: 1px 1px 1px rgb(213, 218, 219); */
    cursor: pointer;
}

.price-btn:hover {
    background-color: #ddd;
    color: black;
}